@import './format.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: IBM Plex Mono;
}

:root{
    --bg-clr-1:rgb(8, 8, 8);
    --stroke:rgb(27, 27, 27);
    --header-clr: rgba(90, 90, 90, 0.75);
    --font-1: rgb(255, 255, 255);
    --font-2: rgb(0, 0, 0);
    --description: rgb(156, 156, 156);
    --shiny: rgba(255, 255, 255,0.4);
    --semi-transparent:rgba(0,0,0,0.1);
    --btn-1g-clr: rgb(63, 142, 0);
    --btn-2o-clr: rgb(255, 162, 23);
    --btn-2o-clr-light: rgb(255, 246, 233);
    --btn-3b-clr: rgb(0, 10, 255);
    --btn-3b-clr-light: rgb(208, 230, 255);
    --btn-4dg-clr: rgb(42, 176, 144);
    --btn-4dg-clr-light: rgb(224, 255, 248);
    --heading-family:"Raleway", sans-serif;
    --space:2%;
    --thin:100;
    --extra-light:200;
    --light:300;
    --regular:400;
    --medium:500;
    --semi-bold:600;
    --bold:700;
    --extra-bold:800;
    --black:900;
    --extra-black:950;
}


/* Header Section Style  */


header{
    background-color: var(--header-clr);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 12vh;
    padding: 1.5rem 0;
    border-radius: 0 0 8px 8px;
}

/* Menu Items Style  */

header div.container nav div.links a{
    color: var(--description);
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 5rem;
    transition: all ease 0.5s;
}

/* Menu Items Hover Effects */

header div.container nav div.icons a{
    background-color: transparent;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all ease 0.5s;
    margin-right: 0.5rem;
}

header div.container nav div.links a:hover{
    color: var(--btn-2o-clr);
}

header div.container nav div.icons a:hover{
    background-color: var(--btn-2o-clr);
}

header div.container nav div.icons a:hover i{
    color: var(--font-1);
}

header div.container nav div.icons a i{
    color: var(--description);
    font-size: 1.2rem;
}


/* Hero Section Style  */


section.hero{
    height: 100%;
    background-color: var(--bg-clr-1);
    padding: 10rem 0 5rem;
    width: 100%;
}

section.hero div.hero-1{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(20rem,1fr));
    gap: 30rem;
}

/* Hero Section Text & Button Style  */

section.hero div.container div.hero-text{
    width: 50rem;
}

section.hero div.container div.hero-text h1{
    font-size: 2.75rem;
    font-weight: 700;
    color: var(--font-1);
    font-family: var(--heading-family);
    margin-bottom: 1.5rem;
}

section.hero div.container div.hero-text p{
    font-size: 0.9rem;
    color: var(--description);
    font-weight: 400;
    margin: 1rem 0 2rem;
    width: 60%;
    line-height: 2;
    text-align: justify;
}

/* Button Style  */

section.hero div.container div.hero-text a button.btn-d{
    background:linear-gradient(to right,var(--btn-1g-clr) 100%, rgba(0,0,0,0));
    color: var(--font-1);
    font-size: 1rem;
    font-weight: var(--bold);
    padding: 1rem 3.5rem;
    border-radius: 4px;
    transition: all ease 0.5s;
    border: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

/* Button Shiny Effect */

section.hero div.container div.hero-text a button.btn-d::before{
    position: absolute;
    background-color: var(--shiny);
    content: '';
    top: 0;
    left: -25%;
    width: 10%;
    height: 100%;
    transform: skewX(150deg);
    position: absolute;
    transition: all ease 0.5s;
}

/* Button Hover Effects */

section.hero div.container div.hero-text a button.btn-d span{
    display: inline-block;
    transition: all ease 0.3s; 
}

section.hero div.container div.hero-text a button.btn-d:hover::before{
    left: 125%;
}

section.hero div.container div.hero-text a button.btn-d:hover{
    transform: translateX(0.5rem);
    background: linear-gradient(to right,var(--btn-2o-clr),rgba(0,0,0,0));
}

section.hero div.container div.hero-text a button.btn-d:hover span{
    transform: translateX(1.5rem);
}

/* Hero Section Image Style  */

section.hero div.container div.hero-img {
    width: 25rem;
    height: 25rem;
}

section.hero div.container div.hero-img img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}


/* Hero Section Tag Style   */

section.hero div.companies h3{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--font-1);
    margin: 1rem 0 2rem;
}

section.hero div.companies div.cl-wrapper {
    height: 20vh;
    position: relative;
    overflow: hidden;
    align-items: center;
    display: flex;
}

section.hero div.companies div.cl-wrapper div.cl-wrapper-1 div.e img{
    opacity: 0.5;
}

section.hero div.companies div.cl-wrapper div.cl-wrapper-1 ,section.hero div.companies div.cl-wrapper div.cl-wrapper-2 {
    left: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: 20vh;
    display: flex;
    align-items: center;
}

section.hero div.companies div.cl-wrapper div.cl-wrapper-1  a div.cl , section.hero div.companies div.cl-wrapper div.cl-wrapper-2  a div.cl {
    height: 4rem;
    width: 10rem;
    border: solid 1px var(--stroke);
    border-radius: 5px;
    transition: all ease 0.5s;
}

section.hero div.companies div.cl-wrapper div.cl-wrapper-1{
    display: flex;
    justify-content: space-around;
    animation: scroll 40s infinite linear;
}

section.hero div.companies div.cl-wrapper div.cl-wrapper-2{
    animation: scroll2 40s infinite linear;
    /* animation-delay: 20s; */
}

section.hero div.companies div.cl-wrapper:hover div.cl-wrapper-1,
section.hero div.companies div.cl-wrapper:hover div.cl-wrapper-2 {
    animation-play-state: paused;
}

/* Tag Animation & Hover Effects */

@keyframes scroll {
    0% {
        left: 0%;
    }
    100% {
        left: -100%;
    }
}
@keyframes scroll2 {
    0% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}

section.hero div.companies div.cl-wrapper a div.cl:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: var(--description) 0px 0px 35px 0px;
}

/* Case Section Style  */

section.case{
    padding: 5rem 0;
    height: 100%;
    width: 100%;
}

/* Case Section Text Style  */

section.case div.container h2{
    font-size: 2.2rem;
    font-weight: var(--extra-bold);
    font-family: var(--heading-family);
    color: var(--font-2);
    text-align: center;
}

section.case div.container p{
    font-size: 0.9rem;
    color: var(--description);
    font-weight: 400;
    margin: 1rem 0 3rem;
    width: 45%;
    line-height: 2;
    text-align: center;
}

/* Case Part Style  */

section.case div.container div.case-part{
    padding:1rem 0 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    align-items: center;
    gap: 3rem;
}

/* Case part Span Style  */

section.case div.container div.case-part-text span.s1{
    font-size: 0.75rem;
    color: var(--btn-2o-clr);
    font-weight: var(--bold);
    background-color: var(--btn-2o-clr-light);
    padding: 0.35rem 0.75rem;
    border-radius: 15px;
}

section.case div.container div.case-part-text span.s2{
    font-size: 0.75rem;
    color: var(--btn-3b-clr);
    font-weight: var(--bold);
    background-color: var(--btn-3b-clr-light);
    padding: 0.35rem 0.75rem;
    border-radius: 15px;
}

section.case div.container div.case-part-text span.s3{
    font-size: 0.75rem;
    color: var(--btn-4dg-clr);
    font-weight:var(--bold);
    background-color: var(--btn-4dg-clr-light);
    padding: 0.35rem 0.75rem;
    border-radius: 15px;
}

/* Case part Text Style  */

section.case div.container div.case-part-text h3{
    font-size: 1.5rem;
    font-weight:var(--extra-bold);
    font-family: var(--heading-family);
    color: var(--font-2);
    margin: 1rem 0
}

section.case div.container div.case-part-text p{
    font-size: 0.9rem;
    color: var(--description);
    font-weight: 400;
    width: 100%;
    line-height: 2;
    text-align: justify;
}

/* Case part Image Style   */

section.case div.container div.case-part-img img{
    width: 36rem;
    object-fit: cover;
    border-radius: 6px;
}

/* Button Style  */

section.case div.container div.case-part-text a button.btn-1{
    background-color: var(--btn-2o-clr);
}

section.case div.container div.case-part-text a button.btn-1 span {
    display: inline-block;
    transition: all ease 0.3s; 
}

section.case div.container div.case-part-text a button.btn-2{
    background-color: var(--btn-3b-clr);
}

section.case div.container div.case-part-text a button.btn-2 span {
    display: inline-block;
    transition: all ease 0.3s; 
}

section.case div.container div.case-part-text a button.btn-3{
    background-color: var(--btn-4dg-clr);
}
section.case div.container div.case-part-text a button.btn-3 span {
    display: inline-block;
    transition: all ease 0.3s; 
}

/* Hover Effects */

section.case div.container div.case-part-text a button.btn-1:hover{
    cursor: pointer;
    transform: translateX(0.5rem);
}

section.case div.container div.case-part-text a button.btn-1:hover span{
    transform: translateX(1rem);
}

section.case div.container div.case-part-text a button.btn-2:hover{
    cursor: pointer;
    transform: translateX(0.5rem);
}

section.case div.container div.case-part-text a button.btn-2:hover span{
    transform: translateX(1rem);
}

section.case div.container div.case-part-text a button.btn-3:hover{
    cursor: pointer;
    transform: translateX(0.5rem);
}

section.case div.container div.case-part-text a button.btn-3:hover span{
    transform: translateX(1rem);
}


/* Testimonial Section Style  */


section.testimonial{
    padding: 4rem 0;
    background-color: var(--bg-clr-1);
    height: 100%;
    width: 100%;
}

section.testimonial div.container h2{
    font-size: 2.2rem;
    font-weight: var(--extra-bold);
    font-family: var(--heading-family);
    color: var(--font-1);
    text-align: center;
    padding: 1rem 0;
}

section.testimonial div.container p{
    font-size: 0.9rem;
    color: var(--description);
    font-weight: 400;
    margin: 0 auto;
    width: 50%;
    line-height: 2;
    text-align: center;
    padding: 0 0 2rem;
}

section.testimonial div.container div.comment-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3.5rem 1.5rem;
    padding: 2rem 0;
}

section.testimonial div.container div.comment-wrapper div.comment{
    padding:3rem 2.5rem;
    position: relative;
    border-radius: 10px;

    background: linear-gradient(rgba(0,0,0), rgba(0,0,0)) padding-box,
              linear-gradient(60deg, var(--header-clr) 25%,rgba(0,0,0,0) 50%) border-box;
    border: 1px solid transparent;
    z-index: 1;
    transition: all ease 0.5s;
}

section.testimonial div.container div.comment-wrapper div.comment span{
    color: var(--font-1);
    font-family: var(--heading-family);
    font-weight: var(--regular);
    font-size: 6.25rem;
    position: absolute;
    top: -2rem;
    left: 1.5rem;    
}

section.testimonial div.container div.comment-wrapper div.comment p{
    font-size: 0.9rem;
    color: var(--description);
    font-weight: 400;
    text-align: justify;
    line-height: 2.25;
    width: 80%;
    margin: 0 0 4rem;
}

section.testimonial div.container div.comment-wrapper div.comment div.client{
    gap: 2rem;
    position: absolute;
    bottom: 3rem;
    left: 2rem;
}

section.testimonial div.container div.comment-wrapper div.comment div.client h3{
    font-size: 1.2rem;
    font-weight: var(--bold);
    font-family: var(--heading-family);
    color: var(--font-1);
}

section.testimonial div.container div.comment-wrapper div.comment div.client img{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

section.testimonial div.container div.comment-wrapper div.comment:hover{
    transform: scale(1.05);
}


/* Work Section Style  */

section.work{
    padding: 4rem 0;
    height: 100%;
    width: 100%;
}

section.work div.container h2{
    font-size: 2.2rem;
    font-weight: var(--extra-bold);
    font-family: var(--heading-family);
    color: var(--font-2);
    text-align: center;
    padding: 1rem 0;
}

section.work div.container p{
    font-size: 0.9rem;
    color: var(--description);
    font-weight: 400;
    margin: 1rem 0 3rem;
    width: 45%;
    line-height: 2;
    text-align: center;
    padding: 0 0 2rem;
}

/* Work Wrapper Style  */

section.work div.container div.work-wrapper{
    position: relative;
}

section.work div.container div.work-wrapper div.work-container div.works{
    transition: transform 0.5s ease;
    width: 100%;
    gap: var(--space);
}
section.work div.container div.work-wrapper div.work-container div.works div.ws{
    min-width: 49%;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    height: 100%;
}
section.work div.container div.work-wrapper div.work-container{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 85%;
}


/* Work Wrapper Work Img Style  */


section.work div.container div.work-wrapper div.work-container div.works div.ws img{
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

/* Work Wrapper Work Text Style  */

section.work div.container div.work-wrapper div.work-container div.works div.ws h2{
    font-size: 1.5rem;
    font-weight: var(--extra-bold);
    font-family: var(--heading-family);
    color: var(--font-2);
    text-align: left;
    padding: 1rem 0 0;
}

section.work div.container div.work-wrapper div.work-container div.works div.ws p{
    font-size: 0.9rem;
    color: var(--description);
    font-weight: 400;
    width: 100%;
    margin: 0 0;
    line-height: 2;
    text-align: left;
    padding: 1.5rem 0;
}

section.work div.container div.work-wrapper div.work-container div.works div.ws a button.btn-w{
    background-color: var(--btn-1g-clr);
    color: var(--font-1);
    box-shadow: 0px 0px 35px -10px var(--btn-1g-clr);
    margin: 0 0 1rem;
}
section.work div.container div.work-wrapper div.work-container div.works div.ws a button.btn-w span {
    display: inline-block;
    transition: all ease 0.3s; 
}

/* Hover Style  */
section.work div.container div.work-wrapper div.work-container div.works div.ws a button.btn-w:hover{
    cursor: pointer;
    transform: translateX(0.5rem);
}

section.work div.container div.work-wrapper div.work-container div.works div.ws a button.btn-w:hover span{
    transform: translateX(1rem);
}

/* Work Navigation Style  */

input[type="radio"] {
    display: none;
}

section.work div.container div.work-wrapper div.arrows label.arrow{
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--semi-transparent);
    padding: 0.5rem 1rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

section.work div.container div.work-wrapper div.arrows label.arrow i{
    font-size: 3rem;
    color: var(--font-1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.work div.container div.work-wrapper div.arrows label.left{
    left: 0;
}

section.work div.container div.work-wrapper div.arrows label.right{
    right: 0;
}

/* Slide Controller */

#slide1:checked ~ div.arrows label.left[for="slide3"],
#slide1:checked ~ div.arrows label.right[for="slide2"]{
    display: block;
}

#slide2:checked ~ div.arrows label.left[for="slide1"],
#slide2:checked ~ div.arrows label.right[for="slide3"]{
    display: block;
}

#slide3:checked ~ div.arrows label.left[for="slide2"],
#slide3:checked ~ div.arrows label.right[for="slide1"]{
    display: block;
}

/* Slide Effect */
/* the ~ is for the sibling selector it works when the elements are at the same level means under the same parent element. */

#slide1:checked ~ div.work-container div.works{
    transform: translateX(0%);
}
#slide2:checked ~ div.work-container div.works{
    transform: translateX(-51%);
}
#slide3:checked ~ div.work-container div.works{
    transform: translateX(-102%);
}



/* Contact Section Style  */


section.contact{
    padding: 4rem 0;
    height: 100%;
    width: 100%;
    background: var(--bg-clr-1);
}

section.contact div.container h2{
    font-size: 2.2rem;
    font-weight: var(--extra-bold);
    font-family: var(--heading-family);
    color: var(--font-1);
    text-align: center;
    padding: 1rem 0;
}

section.contact div.container p{
    font-size: 0.9rem;
    color: var(--description);
    font-weight: 400;
    width: 45%;
    line-height: 2;
    text-align: center;
    padding: 2rem 0;
}

/* Form Style  */

section.contact div.container div.form form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section.contact div.container div.form form label{
    color: var(--font-1);
    font-size: 0.75rem;
    font-weight: var(--semi-bold);
    margin-bottom: -0.5rem;
}

section.contact div.container div.form form input,
section.contact div.container div.form form textarea{
    padding: 0.6rem 1rem;
    width: 25rem;
    border-radius: 5px;
    font-size: 0.75rem;
}

section.contact div.container div.form form textarea{
    height: 8rem;
    resize: none;
}

section.contact div.container div.form form button.btn-f{
    background-color: var(--btn-1g-clr);
    color: var(--font-1);
     cursor: pointer;
}

section.contact div.container div.form form button.btn-f span {
    display: inline-block;
    transition: all ease 0.3s; 
}

section.contact div.container div.form form button.btn-f:hover span{
    transform: translateX(1rem);
}

/* Footer Section Style   */

footer{
    padding: 2rem 0;
    background-color: var(--bg-clr-1);
    height: 100%;
    width: 100%;
    border-top: solid 1px var(--description);
}

footer div.container p{
    font-size: 0.9rem;
    color: var(--description);
    font-weight: 400;
    width: 100%;
    text-align: center;
}
footer div.container div.footer-text div.icons{
    margin: 0 5rem 0 0;
}
footer div.container div.footer-text div.icons a i{
    color: var(--description);
    font-size: 1.2rem;
}
footer div.container div.footer-text{
    padding: 0 0 2rem;
}
footer div.container div.footer-text a i{
    color: var(--description);
    font-size: 2rem;
}
footer div.container div.footer-text div.icons{
    margin: 0 auto;
}

/* Footer Icons Hover Effects */


footer div.container div.footer-text div.icons a{
    background-color: transparent;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all ease 0.5s;
    margin-right: 0.5rem;
}



footer div.container div.footer-text div.icons a:hover{
    background-color: var(--btn-2o-clr);
}

footer div.container div.footer-text div.icons a:hover i{
    color: var(--font-1);
}

